doctype html
html(lang='ru')
    head
        include parts/_meta.jade

    body

        // header
        section.header.js-sticky-header.header--mainpage

            a(href="/")
                .header_corner_logo

            include blocks/block_back_call.jade

            nav.main_menu
                a(href="#").active Обьекты
                a(href="#") О компании
                a(href="#") События
                a(href="#") Контакты

            a(href="#" class="mobile_menu js-open-mobile-menu") Меню

        section.full_block.full_block--mainpage

            video(autoplay muted loop preload="auto").bg_video
                source(src="i/neo.webm" type="video/webm")
                source(src="i/neo.mp4" type="video/mp4")

            .pattern

            .container

                .search_form__grid

                    .search_form__item
                        .search_form__logo.eji_logo
                        .search_form__block
                            
                            .range-slider
                                h2 Цена
                                input(type="text" class="js-price-slider" value="")
                            
                            .range-slider
                                h2 Площадь
                                input(type="text" class="js-square-slider" value="")
                            
                            .range-slider.floor
                                h2 Комнат
                                input(type="text" class="js-floor-slider" value="")

                        a(href="#").btn.white Подобрать
                        a(href="#").location_link местоположение

                    .search_form__item
                        .search_form__logo.cinema_logo
                        .search_form__block

                            .range-slider
                                h2 Цена
                                input(type="text" class="js-price-slider" value="")
                            
                            .range-slider
                                h2 Площадь
                                input(type="text" class="js-square-slider" value="")
                            
                            .range-slider.floor
                                h2 Комнат
                                input(type="text" class="js-floor-slider" value="")

                        a(href="#").btn.white Подобрать
                        a(href="#").location_link местоположение

                    .search_form__item
                        .search_form__logo.cinema_logo
                        .search_form__block
                            
                            .range-slider
                                h2 Цена
                                input(type="text" class="js-price-slider" value="")
                            
                            .range-slider
                                h2 Площадь
                                input(type="text" class="js-square-slider" value="")
                            
                            .range-slider.floor
                                h2 Комнат
                                input(type="text" class="js-floor-slider" value="")

                        a(href="#").btn.white Подобрать
                        a(href="#").location_link местоположение   

        // geometry
        section.geometry

            h2 Новое измерение 
                span комфорта

            h4 3 измерения
                br
                | неометрии

            .geometry_tizer
                h3 Строительная компания
                P Отправной точкой «Неометрии» является человек и комфортная среда его обитания. И эта среда  не ограничевается стенами и крышей.
                    br 
                    | Уникальность «Неометрии» и её строительных объектов базируется на трёх основных состовляющих: 
                    br
                    | Место, Технологии, Человек 


            .geometry_center

            .geometry_tip.tip1
                span Z
                h3 Технологии
                p В объектах «Неометрии» всегда присутствуют конструктивные особенности, о которых можно с гордостью говорить.

            .geometry_tip.tip2
                span Y
                h3 Человек
                p Комфорт человека — это аксиома. 
                    br
                    | Для «Неометрии» комфорт человека — больше, чем просто наборбытовых удобств. В это понятие входит весь комплекс ощущений человека.

            .geometry_tip.tip3
                span X
                h3 Место
                p Поиск уникальных мест для строительства имеет приоритетное значение. «Неометрии» — это всегда лучшие места в городе.



            .geo_top1
            .geo_top2

            .geo_bottom1
            .geo_bottom2

            .parallax_dummy(
                data-top-bottom="transform:translate3d(0px, -100%, 0px)"
                data-bottom-top="transform:translate3d(0px, 100%, 0px)")

                .dummy1

            .parallax_dummy(
                data-top-bottom="transform:translate3d(0px, 100%, 0px)"
                data-bottom-top="transform:translate3d(0px, -100%, 0px)")

                .dummy2

            .parallax_dummy(
                style="z-index: 2"
                data-top-bottom="transform:translate3d(0px, -200%, 0px)"
                data-bottom-top="transform:translate3d(0px, 200%, 0px)")

                .dummy3

            .parallax_dummy(
                data-top-bottom="transform:translate3d(0px, -100%, 0px)"
                data-bottom-top="transform:translate3d(0px, 100%, 0px)")

                .dummy4

            .parallax_dummy(
                data-top-bottom="transform:translate3d(0px, 150%, 0px)"
                data-bottom-top="transform:translate3d(0px, -150%, 0px)")

                .dummy5

            .parallax_dummy(
                style="z-index: 2"
                data-top-bottom="transform:translate3d(0px, 30%, 0px)"
                data-bottom-top="transform:translate3d(0px, -30%, 0px)")

                .dummy6

            .parallax_dummy(
                style="z-index: 2"
                data-top-bottom="transform:translate3d(0px, 100%, 0px)"
                data-bottom-top="transform:translate3d(0px, -100%, 0px)")

                .dummy7

            .parallax_dummy(
                style="z-index: 0"
                data-top-bottom="transform:translate3d(0px, -50%, 0px)"
                data-bottom-top="transform:translate3d(0px, 20%, 0px)")

                .dummy8

            .parallax_dummy(
                style="z-index: 1"
                data-top-bottom="transform:translate3d(0px, -50%, 0px)"
                data-bottom-top="transform:translate3d(0px, 0%, 0px)")

                .dummy9

            .parallax_dummy(
                style="z-index: 1"
                data-top-bottom="transform:translate3d(0px, -50%, 0px)"
                data-bottom-top="transform:translate3d(0px, 0%, 0px)")

                .dummy10
            







        include blocks/section_action.jade

        include blocks/section_object_tizers_small.jade

        include blocks/section_managers.jade

        include parts/_footer_default.jade

        include parts/_scripts.jade


